/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  generics */

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    max-width: 1080px;
}

/* row */

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* cols */

.row>[class^="col"] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

/* col che si dividono lo spazio equamente */
.row>[class^="col"] {
    max-width: 100%;
    flex-grow: 1;
}

.row>.col-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.row>.col-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.row>.col-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.row>.col-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.row>.col-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.row>.col-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.row>.col-6 {
    flex-basis: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
}

.row>.col-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.row>.col-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.row>.col-3 {
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}

.row>.col-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.row>.col-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
}

/******************************* OFFSET *******************************************/

.offset-12 {
    margin-left: calc(100% / 12 * 12);
}

.offset-11 {
    margin-left: calc(100% / 12 * 11);
}

.offset-10 {
    margin-left: calc(100% / 12 * 10);
}

.offset-9 {
    margin-left: calc(100% / 12 * 9);
}

.offset-8 {
    margin-left: calc(100% / 12 * 8);
}

.offset-7 {
    margin-left: calc(100% / 12 * 7);
}

.offset-6 {
    margin-left: calc(100% / 12 * 6);
}

.offset-5 {
    margin-left: calc(100% / 12 * 5);
}

.offset-4 {
    margin-left: calc(100% / 12 * 4);
}

.offset-3 {
    margin-left: calc(100% / 12 * 3);
}

.offset-2 {
    margin-left: calc(100% / 12 * 2);
}

.offset-1 {
    margin-left: calc(100% / 12 * 1);
}

.offset-0 {
    margin-left: calc(100% / 12 * 0);
}

/***********************FLEXBOX************************************/

/* justify content */
.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

/* align items */

.align-i-center {
    align-items: center;
}

.align-i-stretch {
    align-items: stretch;
}


.align-i-baseline {
    align-items: baseline;
}

.align-i-start {
    align-items: flex-start;
}

.align-i-end {
    align-items: flex-end;
}

/* align content */

.align-c-between {
    align-content: space-between;
}

.align-c-evenly {
    align-content: space-evenly;
}

.align-c-around {
    align-content: space-around;
}

.align-c-center {
    align-content: center;
}

.align-c-start {
    align-content: flex-start;
}

.align-c-end {
    align-content: flex-end;
}

/* align self */
.align-s-center {
    align-self: center;
}

.align-s-start {
    align-self: flex-start;
}

.align-s-end {
    align-self: flex-end;
}

.align-s-stretch {
    align-self: stretch;
}


.align-s-baseline {
    align-self: baseline;
}