/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  generics */

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    max-width: 1080px;
}

/* row */

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* cols */

.row>[class^="col"] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

/* col che si dividono lo spazio equamente */
.row>[class^="col"] {
    max-width: 100%;
    flex-grow: 1;
}

.row>.col-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.row>.col-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.row>.col-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.row>.col-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.row>.col-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.row>.col-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.row>.col-6 {
    flex-basis: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
}

.row>.col-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.row>.col-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.row>.col-3 {
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}

.row>.col-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.row>.col-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
}

/******************************* OFFSET *******************************************/

.offset-12 {
    margin-left: calc(100% / 12 * 12);
}

.offset-11 {
    margin-left: calc(100% / 12 * 11);
}

.offset-10 {
    margin-left: calc(100% / 12 * 10);
}

.offset-9 {
    margin-left: calc(100% / 12 * 9);
}

.offset-8 {
    margin-left: calc(100% / 12 * 8);
}

.offset-7 {
    margin-left: calc(100% / 12 * 7);
}

.offset-6 {
    margin-left: calc(100% / 12 * 6);
}

.offset-5 {
    margin-left: calc(100% / 12 * 5);
}

.offset-4 {
    margin-left: calc(100% / 12 * 4);
}

.offset-3 {
    margin-left: calc(100% / 12 * 3);
}

.offset-2 {
    margin-left: calc(100% / 12 * 2);
}

.offset-1 {
    margin-left: calc(100% / 12 * 1);
}

.offset-0 {
    margin-left: calc(100% / 12 * 0);
}

/************************************** display *******************************************/
.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

/***********************FLEXBOX************************************/


/* justify content */

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

/* align items */

.align-i-center {
    align-items: center;
}

.align-i-stretch {
    align-items: stretch;
}


.align-i-baseline {
    align-items: baseline;
}

.align-i-start {
    align-items: flex-start;
}

.align-i-end {
    align-items: flex-end;
}

/* align content */

.align-c-between {
    align-content: space-between;
}

.align-c-evenly {
    align-content: space-evenly;
}

.align-c-around {
    align-content: space-around;
}

.align-c-center {
    align-content: center;
}

.align-c-start {
    align-content: flex-start;
}

.align-c-end {
    align-content: flex-end;
}

/* align self */
.align-s-center {
    align-self: center;
}

.align-s-start {
    align-self: flex-start;
}

.align-s-end {
    align-self: flex-end;
}

.align-s-stretch {
    align-self: stretch;
}


.align-s-baseline {
    align-self: baseline;
}


/*##################################################################### ******************************************MEDIA QUERY*******************************************
#############    QUESTA SEZIONE PUò ESSERE SPOSTATA IN UN ALTRO FOLGIO CSS        ###################################################################################
######################################################################################################### */

/* mobile-first */
/* small 576px */
@media screen and (min-width:576px) {
    .row>.col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .row>.col-sm-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .row>.col-sm-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .row>.col-sm-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    .row>.col-sm-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    .row>.col-sm-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .row>.col-sm-6 {
        flex-basis: calc(100% / 12 * 6);
        max-width: calc(100% / 12 * 6);
    }

    .row>.col-sm-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .row>.col-sm-4 {
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }

    .row>.col-sm-3 {
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }

    .row>.col-sm-2 {
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }

    .row>.col-sm-1 {
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }

    /* OFFSET */

    .offset-sm-12 {
        margin-left: calc(100% / 12 * 12);
    }

    .offset-sm-11 {
        margin-left: calc(100% / 12 * 11);
    }

    .offset-sm-10 {
        margin-left: calc(100% / 12 * 10);
    }

    .offset-sm-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .offset-sm-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .offset-sm-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .offset-sm-6 {
        margin-left: calc(100% / 12 * 6);
    }

    .offset-sm-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .offset-sm-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .offset-sm-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .offset-sm-2 {
        margin-left: calc(100% / 12 * 2);
    }

    .offset-sm-1 {
        margin-left: calc(100% / 12 * 1);
    }

    .offset-sm-0 {
        margin-left: calc(100% / 12 * 0);
    }

    /* display */
    .d-sm-flex {
        display: flex;
    }

    .d-sm-none {
        display: none;
    }

    .d-sm-block {
        display: block;
    }

}

/* medium 768px */
@media screen and (min-width:768px) {
    .row>.col-md-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .row>.col-md-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .row>.col-md-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .row>.col-md-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    .row>.col-md-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    .row>.col-md-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .row>.col-md-6 {
        flex-basis: calc(100% / 12 * 6);
        max-width: calc(100% / 12 * 6);
    }

    .row>.col-md-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .row>.col-md-4 {
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }

    .row>.col-md-3 {
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }

    .row>.col-md-2 {
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }

    .row>.col-md-1 {
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }

    /* OFFSET */

    .offset-md-12 {
        margin-left: calc(100% / 12 * 12);
    }

    .offset-md-11 {
        margin-left: calc(100% / 12 * 11);
    }

    .offset-md-10 {
        margin-left: calc(100% / 12 * 10);
    }

    .offset-md-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .offset-md-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .offset-md-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .offset-md-6 {
        margin-left: calc(100% / 12 * 6);
    }

    .offset-md-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .offset-md-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .offset-md-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .offset-md-2 {
        margin-left: calc(100% / 12 * 2);
    }

    .offset-md-1 {
        margin-left: calc(100% / 12 * 1);
    }

    .offset-md-0 {
        margin-left: calc(100% / 12 * 0);
    }

    /* display */
    .d-md-flex {
        display: flex;
    }

    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }
}

/* large 992px */
@media screen and (min-width:992px) {
    .row>.col-lg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .row>.col-lg-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .row>.col-lg-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .row>.col-lg-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    .row>.col-lg-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    .row>.col-lg-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .row>.col-lg-6 {
        flex-basis: calc(100% / 12 * 6);
        max-width: calc(100% / 12 * 6);
    }

    .row>.col-lg-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .row>.col-lg-4 {
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }

    .row>.col-lg-3 {
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }

    .row>.col-lg-2 {
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }

    .row>.col-lg-1 {
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }

    /* OFFSET */

    .offset-lg-12 {
        margin-left: calc(100% / 12 * 12);
    }

    .offset-lg-11 {
        margin-left: calc(100% / 12 * 11);
    }

    .offset-lg-10 {
        margin-left: calc(100% / 12 * 10);
    }

    .offset-lg-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .offset-lg-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .offset-lg-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .offset-lg-6 {
        margin-left: calc(100% / 12 * 6);
    }

    .offset-lg-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .offset-lg-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .offset-lg-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .offset-lg-2 {
        margin-left: calc(100% / 12 * 2);
    }

    .offset-lg-1 {
        margin-left: calc(100% / 12 * 1);
    }

    .offset-lg-0 {
        margin-left: calc(100% / 12 * 0);
    }

    /* display */
    .d-lg-flex {
        display: flex;
    }

    .d-lg-none {
        display: none;
    }

    .d-lg-block {
        display: block;
    }

}

/* x-large 1200px */
@media screen and (min-width:1200px) {
    .row>.col-xl-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .row>.col-xl-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .row>.col-xl-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .row>.col-xl-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    .row>.col-xl-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    .row>.col-xl-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .row>.col-xl-6 {
        flex-basis: calc(100% / 12 * 6);
        max-width: calc(100% / 12 * 6);
    }

    .row>.col-xl-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .row>.col-xl-4 {
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }

    .row>.col-xl-3 {
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }

    .row>.col-xl-2 {
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }

    .row>.col-xl-1 {
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }

    /* OFFSET */

    .offset-xl-12 {
        margin-left: calc(100% / 12 * 12);
    }

    .offset-xl-11 {
        margin-left: calc(100% / 12 * 11);
    }

    .offset-xl-10 {
        margin-left: calc(100% / 12 * 10);
    }

    .offset-xl-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .offset-xl-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .offset-xl-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .offset-xl-6 {
        margin-left: calc(100% / 12 * 6);
    }

    .offset-xl-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .offset-xl-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .offset-xl-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .offset-xl-2 {
        margin-left: calc(100% / 12 * 2);
    }

    .offset-xl-1 {
        margin-left: calc(100% / 12 * 1);
    }

    .offset-xl-0 {
        margin-left: calc(100% / 12 * 0);
    }

    /* display */
    .d-xl-flex {
        display: flex;
    }

    .d-xl-none {
        display: none;
    }

    .d-xl-block {
        display: block;
    }

}

/* xx-large 1400px */
@media screen and (min-width:1400px) {
    .row>.col-xxl-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .row>.col-xxl-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .row>.col-xxl-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .row>.col-xxl-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    .row>.col-xxl-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    .row>.col-xxl-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .row>.col-xxl-6 {
        flex-basis: calc(100% / 12 * 6);
        max-width: calc(100% / 12 * 6);
    }

    .row>.col-xxl-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .row>.col-xxl-4 {
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }

    .row>.col-xxl-3 {
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }

    .row>.col-xxl-2 {
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }

    .row>.col-xxl-1 {
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }

    /* OFFSET */

    .offset-xxl-12 {
        margin-left: calc(100% / 12 * 12);
    }

    .offset-xxl-11 {
        margin-left: calc(100% / 12 * 11);
    }

    .offset-xxl-10 {
        margin-left: calc(100% / 12 * 10);
    }

    .offset-xxl-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .offset-xxl-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .offset-xxl-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .offset-xxl-6 {
        margin-left: calc(100% / 12 * 6);
    }

    .offset-xxl-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .offset-xxl-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .offset-xxl-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .offset-xxl-2 {
        margin-left: calc(100% / 12 * 2);
    }

    .offset-xxl-1 {
        margin-left: calc(100% / 12 * 1);
    }

    .offset-xxl-0 {
        margin-left: calc(100% / 12 * 0);
    }

    /* display */
    .d-xxl-flex {
        display: flex;
    }

    .d-xxl-none {
        display: none;
    }

    .d-xxl-block {
        display: block;
    }
}